
/*Importando a font Poppins (Google Fontes)*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;900&display=swap');
/* _________________________________________________________________________________________________ */
/* Reset (básico) */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    /* Variáveis em CSS */

    --corPrimaria: #017143;

    --corSecundaria: #333;

    --corTerciaria: #fff;

}
/* _________________________________________________________________________________________________ */
/* Main */
main{
    position: relative;
    width: 100%;
    min-height: 100vh; /*Altura 1 tela (view height)*/
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--corTerciaria);/*Chamada de variável*/
}
/* _________________________________________________________________________________________________ */
/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 80px;
}
header .logo:hover{
    filter: invert(0.1); /*Controla o nível de contraste*/
}

header ul{
    position: relative;
    display: flex; /*Põe os links em linha (Menu)*/
}

header ul li{
    list-style: none;/*Remove estilo  da lista (Bolinha)*/
}
header ul a{
    display: inline-block;/*Garante que o link fique sempre em linha*/
    color: var(--corSecundaria);
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    padding: 5px;
    margin-left: 40px;
}
header ul a:hover{
    color: var(--corTerciaria);
    background-color: #017143;
    border-radius: 10px;
}

/* _________________________________________________________________________________________________ */
/* Conteúdo */
.conteudo{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteudo .textoPrincipal{
    position: relative;
    max-width: 600px; /*Largura área de texto*/
}
.conteudo .textoPrincipal h1{
    color: var(--corSecundaria);
    font-size: 2.5em;/* 1em= 1 x tamanho fonte elemento (16px)*/
    line-height: 1.5em; /*Espaçamento vertical*/
    font-weight: 400;
}
.conteudo .textoPrincipal h1 span {
    color: var(--corPrimaria);
    font-size: 1.2em;
    font-weight: 900;
}
.conteudo .textoPrincipal p{
    color:var(--corSecundaria)
}
.conteudo .textoPrincipal a{
    display: inline-block;
    margin-top: 20px;
    background-color: var(--corPrimaria);
    color: var(--corTerciaria);
    border-radius: 40px;
    text-decoration: none;
    font-weight:600;
    padding: 8px 20px;
    letter-spacing: 1px; /*Espaço entre os caracteres*/
    text-decoration-line: none; 
} 
.conteudo .textoPrincipal a:hover{
    background-color: var(--corSecundaria);
    color: var(--corTerciaria);
}
/* _________________________________________________________________________________________________ */
/*Milkshake*/
.conteudo .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.conteudo .imgBox img{
    max-width: 340px;
}
.milkshakes{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);/*Compensa o ajuste centralizando*/
    display: flex;
}
.milkshakes li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer; /*Transforma o cursor em uma*/
    transition: 0.5s;/*Tempo de transição*/
}
.milkshakes li:hover{
    transform: translateY(-15px);/*Movimenta 15 no eixo x*/
}
.milkshakes li img{
    max-width: 60px;
}

main ul{
    list-style: none;
}











/* .circulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--corPrimaria);
    clip-path: circle(600px at right 800px);
}
.circulo class{
    position: absolute;
    font-size: 20px; 
}
